@model IEnumerable<FitnessStudioApp.CustomerAccount>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CustomerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmailAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerPhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateofBirth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClassTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TypeOfClassPass)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TypeOfMembership)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MembershipExpires)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerSince)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateofBirth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClassTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TypeOfClassPass)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TypeOfMembership)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MembershipExpires)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerSince)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CustomerID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CustomerID">Details</a> |
                <a asp-action="GetClassPass" asp-route-id="@item.CustomerID">ClassPass</a> |
                <a asp-action="Membership" asp-route-id="@item.CustomerID">Membership</a> |
                <a asp-action="Transactions" asp-route-id="@item.CustomerID">Transactions</a>
            </td>
        </tr>
}
    </tbody>
</table>
